html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

:root {
    --clr-success-box: #61ff86;
    --clr-danger-box: #e65e6b;
}

.bg-success-custom{
    background-color: var(--clr-success-box);
}

.bg-danger-custom {
    background-color: var(--clr-danger-box);
}